/* CSS declarations go here */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,300italic,400italic,900,900italic,500italic,100italic,100,700italic);

body, html, h1, h2, h3, h4, h5, h6
  font-family: 'Roboto', sans-serif;

h1
  font-weight: 300

.gridster
  width: 100%

  ul
    list-style: none
    li.metro-tile, .preview-holder
      background-color: green
      list-style: none
      color: white
      padding: 20px
      font-size: 9px
      h2
        font-size: 48px
        font-weight: 300
        color: white
      a.remove-tile
        display: block
        font-size: 20px
        color: white
        position: absolute
        top: 5px
        right: 10px

      &.alert
        border:2px solid #aa0000;
        // box-shadow: 0 0 20px red;
        h2, h5
          text-shadow: 0 0 2px black;
        background-image: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 8px, rgba(150, 0, 0, 0.5) 8px, rgba(150, 0, 0, 0.5) 16px) !important

        -ms-animation-duration: 500ms;
        // -ms-animation-iteration-count: infinite;



    .preview-holder
      background: rgba(0,0,0,0.2)
      width: 100%

.row
  width: 1000px
  min-width: 0

#wizard-toggle
  position: fixed
  right: 10px
  top: 10px
  a{
    color: black
  }
  font-size: 50px
  text-align: center

#tile-wizard
  display: none
  position: fixed
  top:0
  right:0
  z-index: 10
  height: 100%
  width: 300px
  // background: rgba(255,255,255,0.85)
  // padding: 25px
  // color: white

  #back-wizard
    color: black
    float: left
    margin-right: 20px

  #close-wizard
    z-index: 2
    display: block
    font-size: 40px
    // color: white
    position: absolute
    top: 10px
    right: 20px

  .tilebutton
    display: block
    width: 80%
    height: 100px
    margin: 0px auto
    margin-bottom: 25px;


  .button
    border: none
    box-shadow: none

  #clear-button
    position: absolute
    right: 25px
    bottom: 20px

  .colorpicker
    float: left
    width: 80%

form.custom div.custom.dropdown
  width:100% !important

form.custom div.custom.dropdown ul
  width:100% !important
