head
  title asteroid

body
  .row
    .six.columns
      {{> gridster}}
      {{> hello}}

template(name="hello")
  h1 Hello World!

  input(type="text", id="search", placeholder="Search")

  ul
    {{#each messages}}
      {{> message_body}}
    {{/each}}

  input(type="text", id="message_input")
  input(type="button", value="Post", id="submit", class="button")
  input(type="button", value="Clear", id="clear", class="button")

template(name="message_body")
  li
    {{#if body}}
      {{body}}
    {{/if}}

template(name="gridster")
  .gridster
    ul
      {{#each tiles}}
        li("data-col"="{{col}}", "data-row"="{{row}}", "data-sizex"="{{size_x}}", "data-sizey"="{{size_y}}", class="metro-tile")
      {{/each}}

