/* CSS declarations go here */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,300italic,400italic,900,900italic,500italic,100italic,100,700italic);

body, html
  font-family: 'Roboto', sans-serif;

.gridster
  width: 100%
  ul
    list-style: none
    li.metro-tile
      background-color: green
      list-style: none
      color: white
      padding: 20px
      font-size: 9px
      h2
        font-size: 48px
        font-weight: 100
        color: white
      a.remove-tile
        display: block
        font-size: 20px
        color: white
        position: absolute
        top: 5px
        right: 10px

.row
  width: 1000px

#wizard-toggle
  height: 50px
  width: 50px
  position: fixed
  right: 10px
  top: 10px
  background: rgba(0,0,0,0.4)
  a{
    color: white
  }
  font-size: 50px
  text-align: center

#tile-wizard
  display: none
  position: fixed
  top:0
  right:0
  z-index: 10
  height: 100%
  width: 300px
  background: rgba(0,0,0,0.85)
  padding: 25px
  color: white

  #back-wizard
    color: white
    float: left
    margin-right: 20px

  #close-wizard
    display: block
    font-size: 40px
    color: white
    position: absolute
    top: 10px
    right: 20px

  .tilebutton
    display: block
    width: 80%
    height: 100px
    margin: 0px auto
    margin-bottom: 25px;


  .button{
    border: none
    box-shadow: none
  }

  #clear-button{
    position: absolute
    right: 25px
    bottom: 20px
  }
