head
  title asteroid

body
  {{> toolbar}}
  {{> gridster}}


template(name="toolbar")

  .row
    .six.colums
      form.custom
        .row
          .three.columns
            select#selectX(style="display:none;")
              option 1
              option 2
              option 3
            .custom.dropdown
              a.current(href="#") 1
              a.selector(href="#")
              ul
                li 1
                li 2
                li 3

          .one.column
            label x

          .three.columns
            select#selectY(style="display:none;")
              option 1
              option 2
              option 3
            .custom.dropdown
              a.current(href="#") 1
              a.selector(href="#")
              ul
                li 1
                li 2
                li 3

          .five.columns
            input(type="button", class="button small", value="Add", id="addTile")
            input(type="button", class="button small", value="Clear", id="clearAllTiles")

template(name="gridster")
  .row
    .twelve.columns
      .gridster
        ul
          {{#each tiles}}
            li("data-col"="{{col}}", "data-row"="{{row}}", "data-sizex"="{{size_x}}", "data-sizey"="{{size_y}}", class="metro-tile", id="{{_id}}")
              h2 {{col}},{{row}}
              {{_id}}
          {{/each}}

