head
  title asteroid

body
  {{> toolbar}}
  {{> gridster}}


template(name="toolbar")

  .row
    .seven.colums
      form.custom
        .row
          .three.columns
            select#selectX(style="display:none;")
              option 1
              option 2
              option 3
            .custom.dropdown
              a.current(href="#") 1
              a.selector(href="#")
              ul
                li 1
                li 2
                li 3

          .three.columns
            select#selectY(style="display:none;")
              option 1
              option 2
              option 3
            .custom.dropdown
              a.current(href="#") 1
              a.selector(href="#")
              ul
                li 1
                li 2
                li 3

          .three.columns
            input(type="text", id="tileText")

          .three.columns
            input(type="button", class="button small", value="Add", id="addTile")
            input(type="button", class="button small", value="Clear", id="clearAllTiles")

template(name="gridster")
  .row
    .twelve.columns
      .gridster
        ul
          {{#each tiles}}
            li("data-col"="{{col}}", "data-row"="{{row}}", "data-sizex"="{{size_x}}", "data-sizey"="{{size_y}}", class="metro-tile", id="{{_id}}")
              a(href="", class="remove-tile") &times
              h2
                {{#if text}}
                  {{text}}
                {{else}}
                  {{col}},{{row}}
                {{/if}}
              {{_id}}

          {{/each}}

