template(name="WBSO")
  .row
    .twelve.columns
      h1 WBSO

template(name="DealRatio")
  .row
    .twelve.columns
      h1 Deal Ratio
      span.mathquill-embedded-latex \frac{N_{4\rightarrow 5}}{N_{3,4\rightarrow \infinity}}

template(name="DealCash")
  .row
    .twelve.columns
      h1 Deal Cash

template(name="FlowTime")
  .row
    .twelve.columns
      h1 Cycle Time

template(name="Toggl")
  .row
    .twelve.columns
      h1 Toggl

template(name="BSC")
  .row
    .twelve.columns
      h1 Balance Score Card


