template(name="tw_screen")
  h3 {{screen.title}}
  input(type="button", class="button", value="Clear", id="clear-button")
  {{#if screen.tiles}}

    {{#each screen.tiles}}
      input(type="button", class="button tilebutton", value="{{title}}", "data-wizard-id"="{{id}}", "data-index"="{{index}}")
    {{/each}}

  {{/if}}

  {{#if screen.inputs}}
    {{#each screen.inputs}}
      {{#if equals type "text"}}
        input(type="{{text}}", placeholder="{{default}}", id="{{id}}")
      {{/if}}
    {{/each}}
  {{/if}}

  {{#if screen.addtile}}
    input(type="button", class="button", value="Add Tile", id="addTile", "data-addtile"="{{screen.addtile}}")
  {{/if}}

template(name="tile_wizard")
  #tile-wizard
    a(href="", id="close-wizard") &times
    {{>tw_screen}}

template(name="wizard_toggle")
  #wizard-toggle
    a(href="", id="show-wizard") +


