template(name="page_home")
  {{> wizard_toggle}}
  {{> tile_wizard}}
  .row
    .twelve.columns
      h1 Asteroid
      {{> gridster}}

template(name="gridster")
  .gridster
    ul
      {{#each tiles}}
        {{> tile}}
      {{/each}}

template(name="tile")
  li("data-col"="{{col}}", "data-row"="{{row}}", "data-sizex"="{{size_x}}", "data-sizey"="{{size_y}}", class="metro-tile {{alert}}", id="{{_id}}", style="background: {{color}}")
    a(href="", class="remove-tile") &times
    h2
      {{#isolate}}
        {{metric}}
      {{/isolate}}
    h5
      {{title}}

