template(name="page_home")
  {{> tile_wizard}}
  .row.gridster-header
    .eight.columns
      h1.title Asteroid

    .four.columns
      a#toggle-wizard(href="#")
        h1
          i.general.foundicon-plus#wizard-toggle
      
  .row
    .twelve.columns

      {{> gridster}}

template(name="gridster")
  .gridster
    ul
      {{#each tiles}}
        {{> tile}}
      {{/each}}

template(name="tile")
  li("data-col"="{{col}}", "data-row"="{{row}}", "data-sizex"="{{size_x}}", "data-sizey"="{{size_y}}", class="metro-tile {{alert}}", id="{{_id}}", style="background: {{color}}")
    a(href="", class="remove-tile") &times
    h2
      {{#isolate}}
        {{metric}}
      {{/isolate}}
    h5
      {{title}}
    {{#if user}}
      h6 {{user.profile.full_name}}
      img.gravatar(src="{{gravatar_url}}")
    {{/if}}

